checkpoints
githubLabeledTrainData-augmented.tsv.gz
nohup.out
activemq
ant
antlr4
bazel
birt
camel
cassandra
clojure
couchdb
drools
eclipse.jdt.core
eclipse.jdt.ui
eclipse.platform.debug
eclipse.platform
elasticsearch
elki
eucalyptus
gerrit
gradle
groovy
guava
guice
hadoop
hbase
hibernate-ogm
hibernate-orm
hibernate-search
hibernate-validator
hive
hsqldb
hudson-2.x
ignite
intellij-community
jasperreports
jclouds
jenkins
jetty.project
jmeter
jruby
jython
kotlin
libgdx
log4j
logging-log4j2
lucene-solr
maven
neo4j
netbeans-mirror
openjdk
opennms
pentaho-platform
platform_frameworks_base
platform
rocksdb
rt.equinox.p2
selenium
Slicer
sling
spring-boot
spring-framework
spring-roo
storm
struts
swagger-codegen
tinkerpop
tomcat70
tomcat80
tomcat85
tomcat
wildfly
xerces

